*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.show-flex{
    display: flex;
}

.show-block{
    display: block;
}

.hidden{
    display: none;
}

body{
    background-color: #f8bae5;
    position: relative;
}

hr{
    color: #000;
    margin: 30px auto;
    width: 95%;
}

.img-presentacion{
    display: block;
    width: 90%;
    margin: 20px auto;
}

.container-header-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-menu-icono{
    font-size: 2.3rem;
    background-color: #f8bae5;
}

.boton-menu{
    background: none;
    border: none;
    margin: 15px 0px 0px;
}

.menu-desplegable-mobile{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: absolute;
    right: 100%;
    background-color: #f8bae5;
}

@keyframes transicion-menu-entrada {
    from {right: 100%;}
    to {right: 0%;}
}

@keyframes transicion-menu-salida {
    from {right: 0%;}
    to {right: 100%;}
}

.clase-transicion-entrada{
    transition: all;
    animation: transicion-menu-entrada 1000ms 1 normal forwards ease-in-out;
}

.clase-transicion-salida{
    transition: all;
    animation: transicion-menu-salida 1000ms 1 normal forwards ease-in-out;
}

.menu-desplegable-mobile a{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

.menu-desplegable-mobile ul{
    list-style: none;
    margin: 10px 0px;
}

.menu-desplegable-mobile li{
    padding: 5px 0px 5px;
}

.menu-desplegable-mobile hr{
    width: 50%;
    margin: 15px auto;
}

.container-header ul{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 1.2rem;
}

.container-header hr{
    display: none;
}

.casamiento-titulo{
    font-size: 1.7rem;
    margin: 10px 0px;
    text-align: center;
}

.casamiento-parrafo{
    margin: 0px 20px;
    padding: 0px 10px;
    font-size: 1.2rem;
}

.casamiento-ubicacion{
    margin: 10px 0px;
    padding: 0px 10px;
    font-size: 1.2rem;
    text-align: center;
}

.casamiento-esperamos{
    font-size: 1.2rem;
    margin: 10px 0px 20px;
    text-align: center;
    font-weight: 600;
}

.pareja-nosotros{
    text-align: center;
    font-size: 1.7rem;
    margin: 10px auto;
}

.pareja-titulo{
    font-size: 1.5rem;
    margin: 10px 0px 10px 25px;
}

.pareja-descripcion{
    font-size: 1.1rem;
    margin: 10px auto 20px;
    padding: 0px 15px;
    text-align: center;
}

.h2-mensaje{
    text-align: center;
    margin: 10px 0px 15px;
}

.container-mensaje{
    display: flex;
    flex-direction: column;
}

.container-form label{
    font-size: 1.4rem;
    margin: 5px 0px 10px 15px;
}

.container-form input{
    font-size: 1.1rem;
    border: 1px solid #000;
    border-radius: 3px;
}

.container-form textarea{
    font-size: 1.2rem;
    margin: 5px 0px 10px 15px;
}

.container-form button{
    font-size: 1.2rem;
    margin: 0px 0px 10px 15px;
    padding: 4px;
    border: 1px solid #000;
    border-radius: 5px;
}

.hr-mensaje{
    color: #000;
    margin: 15px auto;
    width: 30%;
}

.autor-mensaje{
    margin: 10px 0px 0px 10px;
}

.mensaje-mensaje{
    margin: 0px 10px 0px 15px;
    font-size: 1.2rem;
}

.boton-mensaje {
    text-align: center;
    margin: 35px 0px;
}

.boton-mensaje a{
    margin: 15px auto;
    padding: 4px;
    font-size: 1.1rem;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    text-decoration: none;
}

.container-footer{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.container-footer div{ 
    margin: 5px 10px;
}

.container-fotos h2{
    text-align: center;
}

@media (min-width: 450px){

    .container-header-mobile{
        display: none;
    }

    .menu-desplegable-mobile{
        display: none;
    }

    .container-header ul{
        font-size: 1.5rem;
        display: flex;
    }

    .container-header a{
        text-decoration: none;
        color: #000;
    }

    .container-header hr{
        display: block;
    }

    .img-presentacion{
        width: 70%;
    }

    .casamiento-titulo{
        font-size: 1.9rem;
    }
    
    .casamiento-parrafo{
        margin: 0px 40px;
        font-size: 1.3rem;
    }

    .casamiento-ubicacion{
        font-size: 1.3rem;
    }
    
    .casamiento-esperamos{
        font-size: 1.2rem;
        margin: 10px 0px 20px;
        text-align: center;
    }

    .pareja-descripcion{
        font-size: 1.3rem;
    }

    .container-footer{
        font-size: 1.2rem;
    }

    .container-form{
        align-self: center;
    }

}

@media (min-width: 800px){
    .img-presentacion{
        width: 40%;
    }

}

@media (min-width: 1200px){
    
    .img-presentacion{
        width: 20%;
    }

    .casamiento-parrafo{
        text-align: center;
    }

    .autor-mensaje{
        text-align: center;
    }
    
    .mensaje-mensaje{
        text-align: center;
    }

    .container-footer{
        text-align: center;
    }

}